<ul>
    <li>Tax Rate: {{ tax_rate }}</li>
    <li>Welfare: {{ welfare }}</li>
    <li>Welfare income requirement: {{ welfare_req }}</li>
    <li>Food industry subsidies: {{ subsidies.ConsumerGoodFirm }}</li>
    <li>Equipment subsidies: {{ subsidies.CapitalEquipmentFirm }}</li>
    <li>Raw material subsidies: {{ subsidies.RawMaterialFirm }}</li>
    <li>Healthcare subsidies: {{ subsidies.Hospital }}</li>
</ul>
