<div class="person-id">
    <h5>you are</h5>
    <h3>{{ name }}, a {{ race }} {{ sex }} with {{ education }}. You are currently {{ employed }}.</h3>
    <h4>This world may or may not be set up in your favor. You must cast your vote in a way that gives you your piece of the pie. Feel free to convince your fellow voters to be on your side.</h4>
</div>
