<div class="person-id">
    <h5>you are</h5>
    <h1>{{ name }}, a</h1>
    <h1>{{ race }}</h1>
    <h1>{{ sex }} with</h1>
    <h1>{{ education }}.</h1>
    <h1>You are currently {{ employed }}.</h1>
    <h4>Need to add jobs and money stuff in here to incentivze play.</h4>
</div>
