<li class="twoot">
    <div class="twoot-by">
        <span class="twoot-author" data-id="{{ id }}">{{ name }}</span> <span class="twoot-meta">@{{ username }} <span class="twoot-time"> {{ date }}</span></span>
    </div>
    <p class="twoot-content">{{ msg }}</p>
</li>
