<h4>{{ type }}</h4>

{{#if values}}
    {{#if value}}
        <input type="number" name="value" min="{{ values.[0] }}" max="{{ values.[1] }}" value="{{ value }}">
    {{ else }}
        <input type="number" name="value" min="{{ values.[0] }}" max="{{ values.[1] }}">
    {{/if}}
{{/if}}

{{#if targets}}
    <select name="target">
        {{#each targets}}
            <option data-target="{{ this }}">{{ this }}</option>
        {{/each}}
    </select>
{{/if}}
